* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.App h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

#countries-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

}

#countries{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.country-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.country-card img {
    width: 100%;
    max-height: 100%;
    object-fit: fill;
}

.country-card .capital-text {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}